:root {
  --theme-color: rgba(220, 147, 11, 0.972);
}

body {
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),
  url(assets/pictures/graybg.png);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  background-attachment: fixed;
}

*{
  transition: .8s;
}

.App {
  height: 100vh;
  width: 100vw;
}